@charset "UTF-8";
/*공지사항 목록*/
.container > ul > li {
	margin-bottom: 16px;
}

.container > table{
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border-top:2px solid #111;
}
table{
	border-left:none;
	border-right:none;
}

table tr{
    width: 100%;
    height: 26px;
}

table tr:hover{
	background-color: #f7f7f7;
}

table td{
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

table td:first-child, table td:last-child{
	text-align:center;
}

.bottoms{
	display:inline;
}

#search_form {
	font-size: 14px;
    color: #333;
    box-sizing: content-box;
    position: absolute;
    /*top:200px;*/
    border:none;
}

ul.search{
	width:300px;
	list-style:none;
	padding:8px;
	margin:0 auto;
}

ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}

#write{
	float:right;
}



