@charset "UTF-8";


/*user_list*/
	.item-main {
  		padding: 0;
 		margin: 0;
  		box-sizing: border-box;
	}

	.item-list {
  		display: flex;
  		flex-wrap: wrap;
  		justify-content: flex-start;
	}

	.item-list > ul {
		list-style: none;
		width: 280px; /* 원하는 너비로 조정하세요 */
		margin-left: 20px;
		margin-top: 20px;
		padding: 15px;
		border: 1px solid #CCC;
		box-sizing: border-box;
		display: flex; /* Flexbox를 사용하여 정렬 */
  		justify-content: center; /* 수평 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
	}
		
	.item-list > ul:hover {
		border-color: #35c5f0;
	}
		
	.horizontal-list {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	.align-center{
		text-align:center;
	}
/*user_list*/


/*user_detail*/
		.content-main{
			padding:20px 60px;
			margin: 0 auto;
		}
		.imagedetail{
			width: 1200px;
			margin: 0 auto;
		}
		.imagedetail div{
			display: inline-block; /* 가로로 나열하기 위해 block레벨 요소를 inline-block레벨로 전환 */
			width: 550px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
            height: 550px; /* 영역 크기 지정 안해주면 inline 레벨처럼 내용물 만큼만 차지하기 때문에 크기 지정 */
		}
		.item-detail{
			float:right;
		}
		#price{
			font-size: 35px;
			font-weight:bold;
		}
		#item_total_txt{
			color:#000;
			font-weight:bold;
			text-align:right;
			font-size: 30px;
		}
		.item-detail li{
			padding:0 0 5px 0;
			font-size: 20px;
		}
		#reviewCount{
			color: #35c5f0;
		}
		.item-detail form{
			border:none;
			margin:0;
		}
		
		/* 버튼
		---------------------*/
		.btn {
		  margin: 1rem;
		  padding: 0.5rem 1rem;
		  font-size: 1.3rem;
		  font-weight: 500;
		  border-radius: 4px;
		  text-align: center;
		  text-decoration: none;
		  cursor: pointer;
		  transition: background-color 0.3s ease-in-out;
		  width: 200px;
		  height: 60px;
		}
		.btn:hover {
		    filter: brightness(90%);
		  }
		.btn-cart{
			background-color: white;
			color: #35c5f0;
			border: solid #35c5f0;
		}
		
		.btn-buy {
		  background-color: #35c5f0;
		  border:none;
		  color: #fff;
		}
		
	/* 네비게이션 하단 영역 ---------------------------------------------------*/
	.inner {
	  display: flex;
	  height: 40px;
	}
	
	.inner nav {
	  display: flex;
	  flex-flow: row nowrap;
	  justify-content: flex-start;
	  color: #424242;
	}
	
	.lower__item {
	  font-size: 1.2rem;
	  font-weight: 700;
	  color: #424242;
	  cursor: pointer;
	  /* margin: 8px 0; */
	  padding: 11px 10px;
	  /* position: relative; */
	  flex-shrink: 0;
	}
	
	.lower__item:hover {
	  color: #35c5f0;
	}
	
	.lower__item.active {
	  border-bottom: 2px solid #35c5f0;
	}
	
	.lower .inner div {
	  display: none;
	}
	
	/* 상세정보 ---------------------------------------------------*/
	#item_detail{
		padding:20px 60px;
		margin: 0 auto;
		float: center;
		width:1000px;
	}
/*user_detail*/


/*admin_writeForm, admin_modifyForm*/
	.admin-item-submit{
		width: 600px;
		padding: 20px 40px;
		margin: 0 auto;
		border: solid gray;
		border-radius: 10px;
	}
	.write-form ul{
		font-size: 15px; line-height: 2em;
	}
	.ad-btn {
		margin: 1rem;
		padding: 0.5rem 1rem;
		font-size: 1.3rem;
		font-weight: 500;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		width: 150px;
		height: 45px;
	}
	.ad-btn:hover {
		filter: brightness(90%);
	}
	.ad-list {
		background-color: white;
		color: #35c5f0;
		border: solid #35c5f0;
	}
	.ad-regi {
		background-color: #35c5f0;
		border:none;
		color: #fff;
	}
	.ad-del {
		background-color: white;
		color: red;
		border: solid red;
	}
	.ad-del:hover {
		filter: brightness(90%);
		background-color: red;
		color: white;
		border: solid white;
	}
/*admin_writeForm*/


/*admin_list*/
ul.search {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

ul.search li:not(:first-child) {
  margin-left: 5px;
}

ul.search select,
ul.search input[type="search"],
ul.search input[type="submit"] {
  height: 30px;
}


ul.search select,
ul.search input[type="search"],
ul.search input[type="submit"] {
  height: 30px;
}
		
		#ad_table {
  			border-collapse: collapse;
  			margin: 0 auto;
		}

		#ad_table th, td {
  			border: 1px solid #000;
  			padding: 8px;
		}

		#ad_table th {
  			background-color: #f2f2f2;
		}

		#ad_table a {
  			text-decoration: none;
		}

		#ad_table td:nth-child(3), td:nth-child(4) {
  			text-align: right;
		}

		#ad_table td:nth-child(5) {
  			white-space: nowrap;
		}

		#ad_table td:last-child {
  			text-align: center;
		}

		#ad_table {
  			border-radius: 4px;
		}	
		.list-btn {
		margin: 1rem;
		padding: 0.5rem 1rem;
		font-size: 1.3rem;
		font-weight: 500;
		border-radius: 4px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		width: 150px;
		height: 40px;
		}
		.list-btn:hover {
		filter: brightness(90%);
		}
/*admin_list*/
	