@charset "UTF-8";

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.page-main {
	margin: 0 auto;
}

.content-main {
	justify-content: center;
}

ul li {
	list-style: none;
}

.content-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 50px 150px;
	gap: 20px;
}

.content-wrap>div {
	flex: 0 0 auto;
	width: 100%;
	max-width: 250px;
	background-color: #ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media ( min-width : 768px) {
	.content-wrap>div {
		max-width: calc(33.3% - 20px);
	}
}

@media ( min-width : 992px) {
	.content-wrap>div {
		max-width: calc(25% - 20px);
	}
}

a {
	text-decoration: none;
}

.img-box {
	width: 250px; /* 원하는 가로 크기 */
	height: 250px; /* 원하는 세로 크기 */
	overflow: hidden;
}

a:visited {
	color: #000000;
}

.my-photo {
	transition: transform 0.3s ease-in-out;
	max-width: 100%;
	max-height: 100%;
}

.my-photo:hover {
	transform: scale(1.1);
}

div.page {
	clear: both;
	text-align: center;
}

form#search_form {
	border: none;
}

ul.search {
	width: 340px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

ul.search li {
	margin: 0 0 9px 0;
	padding: 0;
	display: inline;
}

.result-display {
	text-align: center;
}

/* 게시글 스타일
---------------------------*/
.box-writer{
	font-weight:400;
}
.box-item {
	text-align: center;
	display: block;
}

h3.box-title {
	margin: 10px 0 3px;
	line-height: 24px;
	font-size: 17px;
	font-weight: 700;
	color: #424242;
	word-break: keep-all;
	word-wrap: break-word;
}

/* 메인 타이틀
---------------------------*/
.page-title{
  display:flex;
  font-family: 'omyu_pretty';
  color: green;
}
.page-title img{
  margin: 50px 160px;
  position:absolute

}
.page-title h2{
  margin:10px 0 0 90px;
  position: relative;
  margin:60px 50px 20px 250px;
	font-size: 70px;
}