
@charset "UTF-8";
/* 헤더 상단 영역 -----------------------------------------------------*/
.header-upper {
  border-bottom: 1px solid #ededed;
  padding: 0 1rem;
}

.header-upper .inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.searchMenu {
  font-size: 1.5rem;
  color: #35c5f0;
  cursor: pointer;
}

.header-upper__nav ul {
  display: none;
}

.header-upper__logo {
  font-family: "Gamja Flower";
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  order: 1;
}

.header-upper__logo a {
	 text-decoration-line : none;
	color : black;
}

.mobile-searchBar,
.fa-shopping-cart {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #757575;
  cursor: pointer;
}

.fa-shopping-cart {
  margin-right: 0;
}

.header-upper__searchBar {
  display: none;
}

.header-upper__service ul {
  display: none;
  list-style: none;
}
/*추가한 것 헤더*/
.header-upper_test li{
  float:left;
}

/* 공통 정렬
------------------*/
.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
.align-left{
	text-align: left;
}

/* 네비게이션 하단 영역 ---------------------------------------------------*/
.header-lower {
  border-bottom: 1px solid #ededed;
  overflow-x: auto;
  overflow-y: hidden;
}

.header-lower .inner {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40px;
}

.header-lower .inner nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #424242;
}

.header-lower__item {
  font-size: 0.8rem;
  font-weight: 700;
  color: #424242;
  cursor: pointer;
  /* margin: 8px 0; */
  padding: 11px 10px;
  /* position: relative; */
  flex-shrink: 0;
}

.header-lower__item:hover {
  color: #35c5f0;
}

.header-lower__item.active {
  border-bottom: 2px solid #35c5f0;
}

.header-lower .inner div {
  display: none;
}

/* 홈페이지 메인 전체 영역 
-------------------------------------------------------------- */
.home-page {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  padding: 0;
}

/* 홈페이지 상단/하단 전체 영역
---------------------------------------------------------------- */

.home-header {
  display: flex;
  flex-flow: column nowrap;
}

/* 홈페이지 상단 이미지
------------------------------------------------------------------ */
.home-header__upper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.home-header__upper:hover img {
  transform: scale(110%);
}

.home-header__upper:hover .home-header-tit a {
  background: #35c5f0;
  border: none;
}

.home-header__upper img {
  width: 100%;
  filter: brightness(65%);
  transition: 0.3s;
  vertical-align: bottom;
}

.home-header-tit {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 2.5rem;
  color: #fff;
}

.home-header-tit h4 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.home-header-tit a {
  display: inline-block;
  width: 100px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 0.8rem;
  font-weight: 600;
}



/* 홈 섹션 공통 영역 
-----------------------------------------------------------------------*/
.home-section {
  width: calc(100% -1rem);
  max-width: 1136px;
  margin: 0 0.5rem;
}




/* 데스크탑 */
@media screen and (min-width: 785px) {
  /*  스크린의 크기가 768을 넘게된다면 해당 스타일을 적용합니다. */

  /* 785px 상단 헤더 영역 --------------------------------------------------------------- */
  .container {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
  }

  .header-upper {
    height: 80px;
    padding: 10px 50px;
  }

  .searchMenu {
    display: none;
  }

  .mobile-searchBar {
    font-size: 1rem;
  }

  .fa-shopping-cart {
    font-size: 1rem;
  }

  .header-upper__inner {
    display: flex;
    align-items: center;
  }

  .header-upper__logo {
    margin-right: 2rem;
    order: 0;
    font-size: 1.8rem;
  }

  .header-upper__service {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    font-weight: bold;
  }

  .header-upper__service ul li {
    cursor: pointer;
  }

  .header-upper__writeBt {
    width: 100px;
    height: 22px;
    color: #fff;
    padding: 8px 0 10px;
    background: #35c5f0;
    border-radius: 5px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    position: relative;
  }

  .header-upper__writeBt:hover {
    background: #189ec7;
  }

  .header-upper__writeBt::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    margin-left: 0.5rem;
  }

  .header-upper__lists {
    position: absolute;
    z-index: 999;
    top: 3.6rem;
    right: 0;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgb(209, 209, 209);
    width: 320px;
    display: none;
    transition: 1s;
  }

  .header-upper__lists.openWirteMenu {
    display: block;
  }

  .header-upper__lists::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    top: -10px;
    left: 6.5rem;
    z-index: 999;
    transform: rotate(45deg);
  }

  .header-upper__lists.show {
    display: inline-block;
  }

  .header-upper__lists a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 1.3rem;
    cursor: pointer;
  }

  .header-upper__lists a:last-child {
    padding-bottom: 1rem;
  }

  .header-upper__lists a h4 {
    color: #424242;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }

  .header-upper__lists a p {
    font-size: 0.8rem;
    color: #424242;
  }

  .header-upper__nav ul {
    display: flex;
  }
  .header-upper__nav ul li a{
 	 text-decoration-line : none;
	color : black;
  }
  .header-upper__item {
    font-weight: bold;
    margin-right: 1rem;
    cursor: pointer;
    padding : 30px 30px;
  }

  .header-upper__item:nth-child(4) {
    margin-right: 0;
  }

  .header-upper__item.upper__active {
    color: #35c5f0;
  }

  .header-upper__item:hover {
    color: #35c5f0;
  }

  .header-upper__service ul {
    display: inline-block;
  }

  .header-upper__service ul li a {
    margin: 0 30px 0 20px; /*상우하좌*/
    display: inline-block;
    text-decoration-line : none;
    color:black;
  }

  .header-upper__service ul li:nth-child(1) {
    border-right: 1px solid #757575;
    padding-right: 2px;
  }

  .header-upper__service ul li:nth-child(3) {
    border-left: 1px solid #757575;
    display: none;
  }
  
  #header-upper__service ul li.register_bar {
	margin: 0 5px 0 5px;
}

#header-upper__service ul li.login_bar {
	margin: 0 5px 0 20px;
}

  /* 785px 홈 페이지 전체 영역 -------------------------------------*/

  .home-page {
    margin: 0 50px;
  }

  /* 785px 하단 네비게이션 영역 -------------------------------------*/
  .header-lower {
    padding: 0 50px;
  }

  .header-lower .inner {
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .header-lower__item {
    font-size: 1rem;
  }

  .header-lower .inner div {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
  }

  .header-lower .inner div:hover {
    color: #35c5f0;
  }

  /* 785px 홈 페이지 상단 이미지
  ---------------------------------------------------------------- */
  .home-header {
    /* width: 100%; */
    /* height: 100%; */
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .home-header__upper > div {
    width: 100%;
    overflow: hidden;
    border-radius: 0.4rem;
  }

  .home-header__upper img {
    filter: none;
    transition: 0.3s;
    /* border-radius: 10px; */
    overflow: hidden;
  }

  .home-header-tit {
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .home-header-tit h4 {
    font-size: 1.6rem; 
  }

  .home-header-tit a {
    height: 40px;
    line-height: 40px;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  /* 785px 홈 페이지 하단 베너 영역 
  --------------------------------------------------------------- */
  .home-header__lower {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-radius: 0.4rem;
    overflow: hidden;
    flex: 0 0 25.7%;
    margin-left: 1rem;
  }

  .col-img {
    display: none;
  }

  .row-img {
    display: inline-block;
  }

  

@media (min-width: 1045px) {
  .header-upper__searchBar input {
    border: none;
    width: 230px;
    margin-left: 5rem;
  }

  .header-upper__searchBar input:focus {
    outline: none;
  }

  .header-upper__searchBar .fa-search {
    margin-left: 0.5rem;
  }

  .header-upper__searchBar {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 0.3rem;
    margin-right: 1rem;
  }

  .mobile-searchBar {
    display: none;
  }

  .container {
    margin: 0 auto;
  }

  /* 1045px 넘어가면 카테고리 영역 */
  .home-category__item__wrap {
    flex: 1;
  }
}

@media (min-width: 1256px) {
  .header-upper__service ul li:nth-child(3) {
    display: inline-block;
  }
}



/*로그인
*/
#login_form #id, #login_form #passwd {
	width: 200px;
}
/*MYPAGE
*/
.mypage-div {
	width: 48%;
	float: left;
	padding: 5px;
}

.mypage-end {
	clear: both;
}

.my-photo {
	object-fit: cover;
	/*정사각형이 아니라 직사각형일 경우 원 안에 
	  보여지게 할 중심 이미지의 위치를 지정
	object-position: top;
	사각형의 모서리 둥근 정도를 지정하는 속성
	  50%를 지정하면 완전한 원
	border-radius: 50%;*/
}

#main_nav {
	padding: 2px 10px 20px 10px;
	height: 20px;
	background-color: #C1BFBF;
}

#footer-upper a{
	background-color: white;
    color : black;
}

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #6C6C6C;
}

ul li{
	text-decoration: none;
	list-style: none;
}



/*
글쓰기 버튼 드롭다운
*/
li .dropbtn {
    display: inline-block;
    background-color : skyblue;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color : black;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content { 
	display: none; position: absolute; background-color:#f9f9f9; 
	min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 
.dropdown-content a 
{ 
	color: black; padding: 12px 16px;
	text-decoration: none; display: block; text-align: left; 
}

.dropdown-content a:hover {
	background-color: white
	
} 
.show {
	display: block;
	}}
/* 
*/