@charset "UTF-8";


form {
	width: 600px;
	margin: 0 auto;
	padding: 10px 10px 10px 30px;
	align-items: center;
	justify-content: center;
	
}

form ul li {
	clear: both;
}

ul {
	list-style: none;
}

label {
	width: 130px;
	float: left; /*태그를 왼쪽에 정렬*/
}

input {
	margin-top: 4px;
}


 .content-main {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
    }


    .content-main ul {
        list-style: none;
        padding: 0;
    }

    .content-main li {
        margin-bottom: 15px;
    }

    .content-main label {
        display: block;
        margin-top : 8px;
        margin-bottom: 4px;
    }

    .content-main input[type="text"],
    .content-main input[type="password"],
    .content-main select {
        width: 50%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .page-main input[type="submit"] {
        width: 32%;
        padding: 13px;
        background-color: #35c5f0 ;
        border: none;
        color: white;
        font-weight: bold;
        font-size : 15px;
        cursor: pointer;
    }
     .page-main input[type="submit"]:hover{
    	 background-color: #09addb;
    	 color : white;
     }
     
  
    .form-notice {
        font-size: 12px;
        color: #999;
        text-align: center;
        
    }
    
    input[type="text"]:focus {
        outline: none !important; 
        border-color: #35c5f0; 
        box-shadow: 0 0 10px #35c5f0;
      }
       input[type="password"]:focus{
        outline: none !important; 
        border-color: #35c5f0; 
        box-shadow: 0 0 10px #35c5f0;
      }
      
/*
버튼
*/
input[type="button"]{
	text-align: center;
	background-color: white;
	border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding : 6px;
}

    .page-main input[type="button"]:hover{
    	 background-color: #fafafa;
    	 color : black;
     }
