@charset "UTF-8";
.page-main{
   max-width: 1700px;
      margin: 0 auto;
      padding: 20px;
}
table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 70%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin : 0 auto;
}

th {
  text-align: center;
  background-color: #35c5f0;
  color: white;
  padding: 10px 0;
  border-bottom: 1px solid #fff; /* 상단에 흰색 선 추가 */
}

td,
th {
  padding: 1em .5em;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid white; /* 각 열에 세로 선 추가 */
}

td:last-child,
th:last-child {
  border-right: none; /* 마지막 열의 오른쪽 선 제거 */
}

td {
  border-bottom: 1px solid #a39485; /* 각 행에 가로 선 추가 */
  background: #fff;
}

    .table-container h3{
    	margin-left :256px;
    }
    .table-container th,
    .table-container td {
        padding: 8px;
        border: 1px solid #ddd;
    }

