@charset "UTF-8";

/* 전체 페이지 스타일 */
div.page-main{
    overflow: hidden;
}
div.chatting-main{
    height: 700px;
    width: 100%;
    margin:0 auto;
	background-color:#E6E6E6;
	position:absolute;
}

/* 채팅 메세지 출력 부분 스타일 */
div.content-main{
    width:600px;
    height: 600px;
    margin: 50px auto 0;
    background-color: white;
    position: relative;
    overflow: auto;
    border-bottom:1px solid #E6E6E6;
}
div.myItem{
	float:right;
	clear:both;
}
div.yourItem{
	float:left;
	clear:both;
}
div.myItem .sub-item{
	background-color:#aaedf2;
}
div.yourItem .sub-item{	
	background-color:gray;
}
div.myItem small{
	float:right;	
}
div.yourItem small{
	float:left;
}

/* 채팅 메세지 입력 부분 스타일 */
div#chatting_send{
    bottom:0;
    width:600px;
   	margin:0 auto;
	background-color:white;
}
.chat-message{
    border: none;
    border-top:1px solid #E6E6E6;
    font-size:20px;
    height:37px;
    float:left;
    width:80%;
}
.chat-sender input{
    height: 40px;
    width: 15%;
    border:none;
    border-radius: 10px;
    background-color: aqua;
    margin-left:12px;
}
.chat-sender input:hover{
    background-color: blue;
    color:white;
}


